body {
font-family: 'DejaVu Sans Mono', monospace; background-color: #282a36; margin:35px auto; max-width:850px; line-height:2; font-size:15px; padding:0.5 6px;}
h1,h2,h3,body,p,a { line-height:1.2; color: #ffb86c;
} 
p {
color: #8be9fd
} 
a {
color: #8ebf42
} 
